$animation-delay: 0.7s;
$animation-second-item-delay: 0.9s;
$animation-third-item-delay: 0.95s;
$animation-fourth-item-delay: 0.98s;
$animation-short-duration: 0.3s;
$animation-duration: 0.7s;
$animation-short-duration: 0.3s;
