$main-background: #121212;
$black-background: #1e1e1e;
$loading-background: #000;
$white: #fff;
$red: red;
$black: #121212;
$purple: #7232f2;
$purple-second: #20115b;
$purple-third: #140b37;
$pink: #c876ff;
$gray-main-background: #b9b9b9;
$error: rgba(236, 37, 13, 0.3);
$error-bright: rgb(236, 37, 13);
